# <mark> <b>STOP: BEFORE RUNNING THIS FILE </b></mark> 
#### Please be aware that this file takes more than a few hours to run.  The first run timed out a few different tries when running from my local machine.  Ultimately, I was forced to use Google Cloud and let the file run overnight for each of the two passes at IMDB.

# 04 Scrap IMDB for Additional Features

## 04.01 Imports

### 04.01.01 Python Imports

In [2]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
import time
import random

### 04.01.02 Import Feature Films

In [5]:
Disney_IMDB = pd.read_csv('../Bens_Data/Updated_IMDB_Disney_442.csv')

In [3]:
Disney_IMDB.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
Disney_IMDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orig_index      442 non-null    int64
 1   DFL_title       442 non-null    object
 2   tconst          442 non-null    object
 3   titleType       442 non-null    object
 4   primaryTitle    442 non-null    object
 5   originalTitle   442 non-null    object
 6   startYear       442 non-null    int64
 7   runtimeMinutes  442 non-null    int64
 8   genres          442 non-null    object
 9   lower_title     442 non-null    object
 10  averageRating   442 non-null    float64
 11  numVotes        442 non-null    float64
 12  _merge          442 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 45.0+ KB

In [5]:
Disney_IMDB.head(5)

,orig_index,DFL_title,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,lower_title,averageRating,numVotes,_merge
0,0,101 Dalmatians,tt0115433,movie,101 Dalmatians,101 Dalmatians,1996,103,"Adventure,Comedy,Crime",101 dalmatians,5.7,109712.0,both
1,5,102 Dalmatians,tt0211181,movie,102 Dalmatians,102 Dalmatians,2000,100,"Adventure,Comedy,Family",102 dalmatians,4.8,37056.0,both
2,10,"20,000 Leagues Under the Sea",tt0046672,movie,"20,000 Leagues Under the Sea","20,000 Leagues Under the Sea",1954,127,"Adventure,Drama,Family",20000 leagues under the sea,7.2,33109.0,both
3,24,A Bug's Life,tt0120623,movie,A Bug's Life,A Bug's Life,1998,95,"Adventure,Animation,Comedy",a bugs life,7.2,284538.0,both
4,74,A Christmas Carol,tt1067106,movie,A Christmas Carol,A Christmas Carol,2009,96,"Adventure,Animation,Comedy",a christmas carol,6.8,112582.0,both

## 04.02 Scrape IMDB - First Pass

### 04.02.01 Double Check for Duplicates

In [6]:
dups_df = Disney_IMDB[Disney_IMDB['tconst'].isin(Disney_IMDB['tconst'].value_counts()[Disney_IMDB['tconst'].value_counts()>2].index)]
print(dups_df.shape)
dups_df.head(30)

(0, 13)

Empty DataFrame
Columns: [orig_index, DFL_title, tconst, titleType, primaryTitle, originalTitle, startYear, runtimeMinutes, genres, lower_title, averageRating, numVotes, _merge]
Index: []

### 04.02.02 Prep for IMDB Scrape

In [119]:
# Target web page:
url = "https://www.imdb.com/title/"
# Establishing the connection to the web page:
response = requests.get(url)
# response.text[:50]
soup = BeautifulSoup(response.text, 'lxml')

imdb_scrape = pd.DataFrame(columns=['tconst','newurl','rating','votes','year','mpaarating','runtime','rlsdt','budget','worldwide','soup_text'])
imdb_errors = pd.DataFrame(columns=['tconst'])

### 04.02.03 Initiate First Pass

In [125]:
for const in Disney_IMDB['tconst']:
    
#     found1 = imdb_scrape[imdb_scrape['tconst'].str.contains(const)]
#     found2 = imdb_errors[imdb_errors['tconst'].str.contains(const)]
#     summ = found1.count().sum() + found2.count().sum()
    
#     if summ < 1:
    
        # const = "tt0115433"
        # const = "tt0029583"
        # const = "tt1067106"

        t= random.uniform(1, 5)
        time.sleep(t)
        newurl = url + const
        response = requests.get(newurl)
        soup = BeautifulSoup(response.text, 'lxml')

        rtspan = soup.find_all('span', {'class' : 'sc-7ab21ed2-1 jGRxWM'})
        rating = rtspan[0].get_text()

        vtdiv = soup.find_all('div', {'class' : 'sc-7ab21ed2-3 dPVcnq'})
        votes = vtdiv[0].text

        # mpaaspan = soup.find_all('span', {'class' : 'ipc-metadata-list-item__list-content-item'})
        # mpaarating = mpaaspan[2].get_text()
        try:

            metaul = soup.find_all('ul', {'data-testid' : 'hero-title-block__metadata'})
            year = metaul[0].find_all('li')[0].find_all('span')[0].get_text()
            mpaarating = metaul[0].find_all('li')[1].find_all('span')[0].get_text()
            runtime = metaul[0].find_all('li')[2].get_text()
            rlsdt = soup.find_all('li', {'data-testid' : 'title-details-releasedate'})[0].find_all('a')[1].get_text()
            budget = soup.find_all('li', {'data-testid' : 'title-boxoffice-budget'})[0].find_all('li')[0].get_text()
            worldwide = soup.find_all('li', {'data-testid' : 'title-boxoffice-cumulativeworldwidegross'})[0].find_all('li')[0].get_text()
            print(newurl)
            print(rating)
            print(votes) 
            print(year) 
            print(mpaarating) 
            print(runtime) 
            print(rlsdt) 
            print(budget) 
            print(worldwide) 
            imdb_scrape.loc[len(imdb_scrape.index)] = [const, newurl, rating, votes, year ,mpaarating ,runtime ,rlsdt ,budget ,worldwide, soup]

        except:
            imdb_errors.loc[len(imdb_errors.index)] = [const]
            print(f"ERROR ON: {const}")

https://www.imdb.com/title/tt0115433
5.7
110K
1996
G
1h 43m
November 27, 1996 (United States)
$75,000,000 (estimated)
$320,689,294
https://www.imdb.com/title/tt0211181
4.8
37K
2000
G
1h 40m
November 22, 2000 (United States)
$85,000,000 (estimated)
$183,611,771
ERROR ON: tt0046672
https://www.imdb.com/title/tt0120623
7.2
285K
1998
G
1h 35m
November 25, 1998 (United States)
$120,000,000 (estimated)
$363,258,859
https://www.imdb.com/title/tt1067106
6.8
113K
2009
PG
1h 36m
November 6, 2009 (United States)
$200,000,000 (estimated)
$325,286,646
ERROR ON: tt0106868
https://www.imdb.com/title/tt0113198
6.9
52K
1995
G
1h 18m
April 7, 1995 (United States)
$18,000,000 (estimated)
$35,348,597
https://www.imdb.com/title/tt0113538
4.7
6.2K
1995
PG
1h 29m
August 11, 1995 (United States)
$15,000,000 (estimated)
$13,406,717
ERROR ON: tt0058657
https://www.imdb.com/title/tt1620680
4.2
44K
2018
PG
1h 49m
March 9, 2018 (United States)
$100,000,000 (estimated)
$132,675,864
https://www.imdb.com/title/tt0092513
6.9
43K
1987
PG-13
1h 42m
July 3, 1987 (United States)
$7,000,000 (estimated)
$34,368,475
https://www.imdb.com/title/tt1223236
7.5
6.4K
2011
G
1h 29m
April 22, 2011 (United States)
$5,000,000 (estimated)
$30,857,747
https://www.imdb.com/title/tt0103639
8.1
399K
1992
G
1h 30m
November 25, 1992 (United States)
$28,000,000 (estimated)
$504,050,219
https://www.imdb.com/title/tt6139732
6.9
256K
2019
PG
2h 8m
May 24, 2019 (United States)
$183,000,000 (estimated)
$1,050,693,953
https://www.imdb.com/title/tt1698641
6.2
44K
2014
PG
1h 21m
October 10, 2014 (United States)
$28,000,000 (estimated)
$100,654,149
ERROR ON: tt0043274
https://www.imdb.com/title/tt1014759
6.4
405K
2010
PG
1h 48m
March 5, 2010 (United States)
$200,000,000 (estimated)
$1,025,468,216
https://www.imdb.com/title/tt2567026
6.2
104K
2016
PG
1h 53m
May 27, 2016 (United States)
$170,000,000 (estimated)
$299,820,798
ERROR ON: tt0417415
ERROR ON: tt0055740
ERROR ON: tt0381006
ERROR ON: tt0082017
ERROR ON: tt0043286
https://www.imdb.com/title/tt0109127
6.2
32K
1994
PG
1h 42m
July 15, 1994 (United States)
$24,000,000 (estimated)
$50,236,831
https://www.imdb.com/title/tt0478970
7.3
637K
2015
PG-13
1h 57m
July 17, 2015 (United States)
$130,000,000 (estimated)
$519,311,965
https://www.imdb.com/title/tt5095030
7.0
374K
2018
PG-13
1h 58m
July 6, 2018 (United States)
$162,000,000 (estimated)
$622,674,139
https://www.imdb.com/title/tt0327437
5.8
89K
2004
PG
2h
June 16, 2004 (United States)
$110,000,000 (estimated)
$72,178,895
ERROR ON: tt3089630
https://www.imdb.com/title/tt0230011
6.9
115K
2001
PG
1h 35m
June 15, 2001 (United States)
$120,000,000 (estimated)
$186,053,725
https://www.imdb.com/title/tt4154796
8.4
1M
2019
PG-13
3h 1m
April 26, 2019 (United States)
$356,000,000 (estimated)
$2,797,501,328
https://www.imdb.com/title/tt4154756
8.5
999K
2018
PG-13
2h 29m
April 27, 2018 (United States)
$321,000,000 (estimated)
$2,048,359,754
ERROR ON: tt0054649
ERROR ON: tt0168473
ERROR ON: tt0034492
https://www.imdb.com/title/tt2458776
7.3
6.8K
2014
G
1h 18m
April 18, 2014 (United States)
$5,000,000 (estimated)
$21,316,745
https://www.imdb.com/title/tt0101414
8.1
439K
1991
G
1h 24m
November 22, 1991 (United States)
$25,000,000 (estimated)
$424,967,620
https://www.imdb.com/title/tt2771200
7.1
299K
2017
PG
2h 9m
March 17, 2017 (United States)
$160,000,000 (estimated)
$1,273,576,220
ERROR ON: tt0066817
ERROR ON: tt0092638
https://www.imdb.com/title/tt1014775
3.9
24K
2008
PG
1h 31m
October 3, 2008 (United States)
$20,000,000 (estimated)
$149,292,488
https://www.imdb.com/title/tt2245084
7.8
445K
2014
PG
1h 42m
November 7, 2014 (United States)
$165,000,000 (estimated)
$657,869,686
ERROR ON: tt0055793
https://www.imdb.com/title/tt1825683
7.3
715K
2018
PG-13
2h 14m
February 16, 2018 (United States)
$200,000,000 (estimated)
$1,347,597,973
https://www.imdb.com/title/tt3480822
6.7
345K
2021
PG-13
2h 14m
July 9, 2021 (United States)
$200,000,000 (estimated)
$379,751,655
ERROR ON: tt0062737
ERROR ON: tt0109287
https://www.imdb.com/title/tt0397892
6.9
205K
2008
PG
1h 36m
November 21, 2008 (United States)
$150,000,000 (estimated)
$309,979,994
ERROR ON: tt0055807
https://www.imdb.com/title/tt1217209
7.1
400K
2012
PG
1h 33m
June 22, 2012 (United States)
$185,000,000 (estimated)
$538,983,207
https://www.imdb.com/title/tt0398808
7.2
153K
2007
PG
1h 36m
February 16, 2007 (United States)
$17,000,000 (estimated)
$137,587,063
https://www.imdb.com/title/tt0328880
6.8
107K
2003
G
1h 25m
November 1, 2003 (United States)
$128,000,000 (estimated)
$250,397,798
ERROR ON: tt0075807
https://www.imdb.com/title/tt3498820
7.8
747K
2016
PG-13
2h 27m
May 6, 2016 (United States)
$250,000,000 (estimated)
$1,153,337,496
https://www.imdb.com/title/tt4154664
6.8
527K
2019
PG-13
2h 3m
March 8, 2019 (United States)
$160,000,000 (estimated)
$1,128,462,972
https://www.imdb.com/title/tt0317219
7.2
403K
2006
G
1h 57m
June 9, 2006 (United States)
$120,000,000 (estimated)
$461,991,867
https://www.imdb.com/title/tt1216475
6.2
180K
2011
G
1h 46m
June 24, 2011 (United States)
$200,000,000 (estimated)
$559,852,396
https://www.imdb.com/title/tt3606752
6.7
92K
2017
G
1h 42m
June 16, 2017 (United States)
$175,000,000 (estimated)
$383,930,656
ERROR ON: tt0069866
ERROR ON: tt0062793
https://www.imdb.com/title/tt0097053
5.9
1K
1989
G
1h 23m
August 18, 1989 (United States)
$5,000,000 (estimated)
$8,153,677
https://www.imdb.com/title/tt0371606
5.7
91K
2005
G
1h 21m
November 4, 2005 (United States)
$150,000,000 (estimated)
$314,432,837
https://www.imdb.com/title/tt1222815
7.1
6.1K
2012
G
1h 18m
April 20, 2012 (United States)
$5,000,000 (estimated)
$34,823,764
https://www.imdb.com/title/tt4575576
7.2
76K
2018
PG
1h 44m
August 3, 2018 (United States)
$75,000,000 (estimated)
$197,744,377
https://www.imdb.com/title/tt0363771
6.9
389K
2005
PG
2h 23m
December 9, 2005 (United States)
$180,000,000 (estimated)
$745,013,115
https://www.imdb.com/title/tt0042332
7.3
156K
1950
G
1h 14m
March 4, 1950 (United States)
$2,900,000 (estimated)
$96,383,330
https://www.imdb.com/title/tt1661199
6.9
174K
2015
PG
1h 45m
March 13, 2015 (United States)
$95,000,000 (estimated)
$542,358,331
https://www.imdb.com/title/tt2380307
8.4
471K
2017
PG
1h 45m
November 22, 2017 (United States)
$175,000,000 (estimated)
$807,817,888
ERROR ON: tt0997047
ERROR ON: tt0082199
https://www.imdb.com/title/tt0361467
4.6
29K
2004
PG
1h 29m
February 20, 2004 (United States)
$15,000,000 (estimated)
$33,251,890
https://www.imdb.com/title/tt0106611
7.0
102K
1993
PG
1h 38m
October 1, 1993 (United States)
$14,000,000 (estimated)
$154,856,263
https://www.imdb.com/title/tt3228774
7.4
216K
2021
PG-13
2h 14m
May 28, 2021 (United States)
$100,000,000 (estimated)
$233,503,234
ERROR ON: tt0109520
ERROR ON: tt0116000
ERROR ON: tt0052722
ERROR ON: tt0049125
ERROR ON: tt0047977
https://www.imdb.com/title/tt0130623
6.4
59K
2000
PG
1h 22m
May 19, 2000 (United States)
$127,500,000 (estimated)
$349,822,765
ERROR ON: tt1714832
https://www.imdb.com/title/tt0451079
6.8
138K
2008
G
1h 26m
March 14, 2008 (United States)
$85,000,000 (estimated)
$298,572,799
ERROR ON: tt0099472
https://www.imdb.com/title/tt0033563
7.3
129K
1941
G
1h 4m
October 31, 1941 (United States)
$950,000 (estimated)
$3,731
https://www.imdb.com/title/tt3861390
6.3
74K
2019
PG
1h 52m
March 29, 2019 (United States)
$170,000,000 (estimated)
$353,284,621
https://www.imdb.com/title/tt0393597
8.0
14K
2007
G
1h 30m
April 22, 2009 (United States)
€30,000,000 (estimated)
$108,976,456
https://www.imdb.com/title/tt0397313
7.3
64K
2006
PG
2h
February 17, 2006 (United States)
$40,000,000 (estimated)
$120,455,994
ERROR ON: tt0058056
https://www.imdb.com/title/tt2953050
7.3
178K
2021
PG
1h 42m
November 24, 2021 (United States)
$50,000,000 (estimated)
$252,479,351
https://www.imdb.com/title/tt0461770
7.1
194K
2007
PG
1h 47m
November 21, 2007 (United States)
$85,000,000 (estimated)
$340,487,836
ERROR ON: tt0120659
https://www.imdb.com/title/tt0848537
6.6
104K
2013
PG
1h 42m
May 24, 2013 (United States)
$100,000,000 (estimated)
$268,426,634
ERROR ON: tt0072951
https://www.imdb.com/title/tt0032455
7.7
94K
1940
G
2h 5m
September 19, 1941 (United States)
$2,280,000 (estimated)
$76,411,819
https://www.imdb.com/title/tt0120910
7.1
38K
1999
G
1h 15m
June 16, 2000 (United States)
$80,000,000 (estimated)
$90,874,570
https://www.imdb.com/title/tt3411444
6.7
55K
2017
PG
1h 48m
December 15, 2017 (United States)
$111,000,000 (estimated)
$296,069,199
https://www.imdb.com/title/tt2277860
7.3
265K
2016
PG
1h 37m
June 17, 2016 (United States)
$200,000,000 (estimated)
$1,028,570,942
https://www.imdb.com/title/tt0266543
8.2
1M
2003
G
1h 40m
May 30, 2003 (United States)
$94,000,000 (estimated)
$940,352,645
ERROR ON: tt0116311
https://www.imdb.com/title/tt0091059
6.9
47K
1986
PG
1h 30m
August 1, 1986 (United States)
$9,000,000 (estimated)
$18,564,613
https://www.imdb.com/title/tt0119137
5.3
89K
1997
PG
1h 33m
November 26, 1997 (United States)
$80,000,000 (estimated)
$177,977,226
ERROR ON: tt0060420
ERROR ON: tt0113104
https://www.imdb.com/title/tt1142977
6.9
105K
2012
PG
1h 27m
October 5, 2012 (United States)
$39,000,000 (estimated)
$81,493,846
ERROR ON: tt0076054
https://www.imdb.com/title/tt0322330
6.3
135K
2003
PG
1h 37m
August 6, 2003 (United States)
$20,000,000 (estimated)
$160,846,332
ERROR ON: tt0039404
https://www.imdb.com/title/tt0119190
5.5
76K
1997
PG
1h 32m
July 16, 1997 (United States)
$55,000,000 (estimated)
$174,463,257
https://www.imdb.com/title/tt0436339
5.1
46K
2009
PG
1h 28m
July 24, 2009 (United States)
$150,000,000 (estimated)
$292,817,898
https://www.imdb.com/title/tt0297144
6.8
5.4K
2003
G
1h 1m
May 23, 2003 (United States)
$13,000,000 (estimated)
$27,570,076
ERROR ON: tt0385726
ERROR ON: tt0054944
https://www.imdb.com/title/tt3896198
7.6
644K
2017
PG-13
2h 16m
May 5, 2017 (United States)
$200,000,000 (estimated)
$863,756,051
ERROR ON: tt0074599
https://www.imdb.com/title/tt1127884
2.6
12K
2008
G
1h 14m
February 1, 2008 (United States)
$7,000,000 (estimated)
$70,642,966
https://www.imdb.com/title/tt1114677
4.5
42K
2009
G
1h 42m
April 10, 2009 (United States)
$30,000,000 (estimated)
$155,545,279
ERROR ON: tt0110006
ERROR ON: tt0080861
ERROR ON: tt0076137
ERROR ON: tt0071607
https://www.imdb.com/title/tt0400497
4.9
47K
2005
G
1h 41m
June 22, 2005 (United States)
$50,000,000 (estimated)
$144,146,816
https://www.imdb.com/title/tt0119282
7.3
223K
1997
G
1h 33m
June 27, 1997 (United States)
$85,000,000 (estimated)
$252,712,101
https://www.imdb.com/title/tt0962726
4.9
62K
2008
G
1h 52m
October 24, 2008 (United States)
$11,000,000 (estimated)
$252,909,177
ERROR ON: tt1556143
https://www.imdb.com/title/tt0107120
6.9
120K
1993
PG
1h 36m
July 16, 1993 (United States)
$28,000,000 (estimated)
$45,395,069
https://www.imdb.com/title/tt0311289
7.0
86K
2003
PG
1h 57m
April 18, 2003 (United States)
$20,000,000 (estimated)
$71,406,573
https://www.imdb.com/title/tt0299172
5.4
23K
2004
PG
1h 16m
April 2, 2004 (United States)
$110,000,000 (estimated)
$145,358,062
ERROR ON: tt0116552
ERROR ON: tt0107131
https://www.imdb.com/title/tt0104437
4.8
44K
1992
PG
1h 29m
July 17, 1992 (United States)
$40,000,000 (estimated)
$58,662,452
https://www.imdb.com/title/tt0097523
6.4
152K
1989
PG
1h 33m
June 23, 1989 (United States)
$18,000,000 (estimated)
$222,724,172
ERROR ON: tt0077698
https://www.imdb.com/title/tt0268380
7.5
471K
2002
PG
1h 21m
March 15, 2002 (United States)
$59,000,000 (estimated)
$383,257,136
ERROR ON: tt0396652
https://www.imdb.com/title/tt0155753
5.5
11K
1998
PG
1h 26m
November 13, 1998 (United States)
$30,000,000 (estimated)
$12,214,338
ERROR ON: tt0056095
https://www.imdb.com/title/tt3606756
7.6
283K
2018
PG
1h 58m
June 15, 2018 (United States)
$200,000,000 (estimated)
$1,243,089,244
https://www.imdb.com/title/tt2096673
8.2
682K
2015
PG
1h 35m
June 19, 2015 (United States)
$175,000,000 (estimated)
$858,848,019
https://www.imdb.com/title/tt0141369
4.1
48K
1999
PG
1h 18m
July 23, 1999 (United States)
$90,000,000 (estimated)
$134,403,112
https://www.imdb.com/title/tt2180411
5.9
139K
2014
PG
2h 5m
December 25, 2014 (United States)
$50,000,000 (estimated)
$212,902,372
https://www.imdb.com/title/tt0445990
7.0
70K
2006
PG
1h 45m
August 25, 2006 (United States)
$40,000,000 (estimated)
$58,480,828
ERROR ON: tt0110157
https://www.imdb.com/title/tt0116683
6.7
66K
1996
PG
1h 19m
April 12, 1996 (United States)
$38,000,000 (estimated)
$28,946,127
https://www.imdb.com/title/tt0401729
6.6
268K
2012
PG-13
2h 12m
March 9, 2012 (United States)
$250,000,000 (estimated)
$284,139,100
ERROR ON: tt0050567
ERROR ON: tt1229827
https://www.imdb.com/title/tt0119432
5.1
24K
1997
PG
1h 45m
March 7, 1997 (United States)
$32,000,000 (estimated)
$59,927,618
ERROR ON: tt0053977
https://www.imdb.com/title/tt0870154
6.6
174K
2021
PG-13
2h 7m
July 30, 2021 (United States)
$200,000,000 (estimated)
$220,889,446
ERROR ON: tt0053994
ERROR ON: tt0065943
https://www.imdb.com/title/tt0048280
7.3
132K
1955
G
1h 16m
June 22, 1955 (United States)
$4,000,000 (estimated)
$93,933,394
ERROR ON: tt8096832
ERROR ON: tt0070131
ERROR ON: tt0986264
https://www.imdb.com/title/tt0275847
7.3
184K
2002
PG
1h 25m
June 21, 2002 (United States)
$80,000,000 (estimated)
$273,144,151
ERROR ON: tt0060640
ERROR ON: tt12801262
ERROR ON: tt0038718
https://www.imdb.com/title/tt1587310
7.0
367K
2014
PG
1h 37m
May 30, 2014 (United States)
$180,000,000 (estimated)
$758,411,779
https://www.imdb.com/title/tt4777008
6.6
100K
2019
PG
1h 59m
October 18, 2019 (United States)
$185,000,000 (estimated)
$491,730,089
ERROR ON: tt0113755
https://www.imdb.com/title/tt1305591
5.4
22K
2011
PG
1h 28m
March 11, 2011 (United States)
$150,000,000 (estimated)
$39,233,678
https://www.imdb.com/title/tt1211837
7.5
687K
2016
PG-13
1h 55m
November 4, 2016 (United States)
$165,000,000 (estimated)
$677,796,076
https://www.imdb.com/title/tt2395427
7.3
826K
2015
PG-13
2h 21m
May 1, 2015 (United States)
$250,000,000 (estimated)
$1,402,809,540
https://www.imdb.com/title/tt1843866
7.8
810K
2014
PG-13
2h 16m
April 4, 2014 (United States)
$170,000,000 (estimated)
$714,421,503
https://www.imdb.com/title/tt1300854
7.2
820K
2013
PG-13
2h 10m
May 3, 2013 (United States)
$200,000,000 (estimated)
$1,214,811,252
https://www.imdb.com/title/tt0058331
7.8
168K
1964
G
2h 19m
June 18, 1965 (United States)
$6,000,000 (estimated)
$103,082,380
https://www.imdb.com/title/tt5028340
6.7
86K
2018
PG
2h 10m
December 19, 2018 (United States)
$130,000,000 (estimated)
$349,546,142
https://www.imdb.com/title/tt0273799
5.4
8.1K
2001
PG
1h 26m
October 5, 2001 (United States)
$25,000,000 (estimated)
$18,634,654
https://www.imdb.com/title/tt2097298
7.4
38K
2015
PG
2h 9m
February 20, 2015 (United States)
$17,000,000 (estimated)
$45,710,059
https://www.imdb.com/title/tt0120645
4.0
2.9K
1998
PG
1h 33m
March 27, 1998 (United States)
$24,000,000 (estimated)
$4,356,216
https://www.imdb.com/title/tt0396555
6.8
97K
2007
G
1h 35m
March 30, 2007 (United States)
$150,000,000 (estimated)
$169,333,034
ERROR ON: tt0040580
ERROR ON: tt0081159
ERROR ON: tt0041650
https://www.imdb.com/title/tt0120751
5.7
29K
1998
PG
1h 54m
December 25, 1998 (United States)
$90,000,000 (estimated)
$50,632,037
https://www.imdb.com/title/tt1647668
7.0
46K
2014
PG
2h 4m
May 16, 2014 (United States)
$25,000,000 (estimated)
$38,483,455
ERROR ON: tt0057312
https://www.imdb.com/title/tt3521164
7.6
317K
2016
PG
1h 47m
November 23, 2016 (United States)
$150,000,000 (estimated)
$644,136,488
ERROR ON: tt0061989
https://www.imdb.com/title/tt1453405
7.3
348K
2013
G
1h 44m
June 21, 2013 (United States)
$200,000,000 (estimated)
$743,559,645
https://www.imdb.com/title/tt0198781
8.1
878K
2001
G
1h 32m
November 2, 2001 (United States)
$115,000,000 (estimated)
$579,707,738
ERROR ON: tt0056249
ERROR ON: tt1198405
https://www.imdb.com/title/tt0119718
4.0
15K
1997
PG
1h 27m
December 25, 1997 (United States)
$30,000,000 (estimated)
$21,437,192
ERROR ON: tt0118172
https://www.imdb.com/title/tt0120762
7.6
278K
1998
G
1h 28m
June 19, 1998 (United States)
$90,000,000 (estimated)
$304,320,254
https://www.imdb.com/title/tt4566758
5.7
143K
2020
PG-13
1h 55m
September 4, 2020 (United States)
$200,000,000 (estimated)
$66,800,000
ERROR ON: tt0117110
https://www.imdb.com/title/tt2281587
6.4
34K
2014
PG
1h 47m
March 21, 2014 (United States)
$50,000,000 (estimated)
$80,383,113
https://www.imdb.com/title/tt0120764
5.1
14K
1999
PG
1h 34m
February 12, 1999 (United States)
$65,000,000 (estimated)
$36,850,101
ERROR ON: tt0206013
ERROR ON: tt0068990
https://www.imdb.com/title/tt0368891
6.9
324K
2004
PG
2h 11m
November 19, 2004 (United States)
$100,000,000 (estimated)
$347,512,318
https://www.imdb.com/title/tt0465234
6.5
232K
2007
PG
2h 4m
December 21, 2007 (United States)
$130,000,000 (estimated)
$459,242,249
ERROR ON: tt0063341
ERROR ON: tt0086005
https://www.imdb.com/title/tt0104990
6.9
21K
1992
PG
2h 1m
April 10, 1992 (United States)
$15,000,000 (estimated)
$2,819,485
https://www.imdb.com/title/tt0082810
6.5
1.4K
1982
PG
1h 47m
February 5, 1982 (United States)
$10,000,000 (estimated)
$8,000,000
ERROR ON: tt0055232
ERROR ON: tt0074968
ERROR ON: tt0069031
https://www.imdb.com/title/tt0765128
7.7
9.6K
2009
G
1h 24m
April 22, 2010 (United States)
$80,000,000 (estimated)
$83,090,556
https://www.imdb.com/title/tt0976238
5.3
38K
2009
PG
1h 28m
November 25, 2009 (United States)
$35,000,000 (estimated)
$96,753,696
ERROR ON: tt0050798
https://www.imdb.com/title/tt0095776
6.7
48K
1988
G
1h 14m
November 18, 1988 (United States)
$31,000,000 (estimated)
$74,151,346
ERROR ON: tt1621994
ERROR ON: tt0070481
ERROR ON: tt0089731
ERROR ON: tt0075016
https://www.imdb.com/title/tt7146812
7.4
139K
2020
PG
1h 42m
March 6, 2020 (United States)
$175,000,000 (estimated)
$141,940,042
ERROR ON: tt0114048
https://www.imdb.com/title/tt1623205
6.3
206K
2013
PG
2h 10m
March 8, 2013 (United States)
$215,000,000 (estimated)
$493,311,825
https://www.imdb.com/title/tt0046183
7.3
136K
1953
G
1h 17m
February 5, 1953 (United States)
$4,000,000 (estimated)
$87,404,651
https://www.imdb.com/title/tt0076538
6.3
24K
1977
G
2h 8m
November 3, 1977 (United States)
$10,000,000 (estimated)
$39,588,000
https://www.imdb.com/title/tt2788732
6.7
58K
2016
PG
1h 42m
August 12, 2016 (United States)
$65,000,000 (estimated)
$143,695,338
https://www.imdb.com/title/tt0032910
7.5
141K
1940
G
1h 28m
February 23, 1940 (United States)
$2,600,000 (estimated)
$121,892,045
https://www.imdb.com/title/tt0449088
7.1
630K
2007
PG-13
2h 49m
May 25, 2007 (United States)
$300,000,000 (estimated)
$960,996,492
https://www.imdb.com/title/tt0383574
7.4
693K
2006
PG-13
2h 31m
July 7, 2006 (United States)
$225,000,000 (estimated)
$1,066,179,747
https://www.imdb.com/title/tt1790809
6.6
293K
2017
PG-13
2h 9m
May 26, 2017 (United States)
$230,000,000 (estimated)
$794,881,442
https://www.imdb.com/title/tt1298650
6.6
510K
2011
PG-13
2h 16m
May 20, 2011 (United States)
$250,000,000 (estimated)
$1,045,713,802
https://www.imdb.com/title/tt0325980
8.1
1.1M
2003
PG-13
2h 23m
July 9, 2003 (United States)
$140,000,000 (estimated)
$654,264,015
https://www.imdb.com/title/tt1691917
5.7
45K
2013
PG
1h 31m
August 9, 2013 (United States)
$50,000,000 (estimated)
$239,258,712
https://www.imdb.com/title/tt2980706
6.0
18K
2014
PG
1h 23m
July 18, 2014 (United States)
$50,000,000 (estimated)
$146,965,787
https://www.imdb.com/title/tt0114148
6.7
182K
1995
G
1h 21m
June 23, 1995 (United States)
$55,000,000 (estimated)
$346,079,773
ERROR ON: tt0054195
https://www.imdb.com/title/tt0473075
6.6
285K
2010
PG-13
1h 56m
May 28, 2010 (United States)
$200,000,000 (estimated)
$336,365,676
https://www.imdb.com/title/tt1604171
5.4
15K
2011
PG
1h 44m
April 29, 2011 (United States)
$8,000,000 (estimated)
$10,702,246
https://www.imdb.com/title/tt4341582
7.4
17K
2016
PG
2h 4m
September 30, 2016 (United States)
$15,000,000 (estimated)
$10,367,161
https://www.imdb.com/title/tt1075417
5.7
59K
2009
PG
1h 38m
March 13, 2009 (United States)
$65,000,000 (estimated)
$106,387,141
https://www.imdb.com/title/tt5848272

### 04.02.04 Explore Results of First Pass

In [8]:
#manual check for an potential error discovered further down in the process.
# const = "tt1067106"
# found1 = imdb_scrape[imdb_scrape['tconst'].str.contains(const)]
# found2 = imdb_errors[imdb_errors['tconst'].str.contains(const)]
# summ = found1.count().sum() + found2.count().sum()
# print(summ)

In [61]:
imdb_scrape.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      240 non-null    object
 1   newurl      240 non-null    object
 2   rating      240 non-null    object
 3   votes       240 non-null    object
 4   year        240 non-null    object
 5   mpaarating  240 non-null    object
 6   runtime     240 non-null    object
 7   rlsdt       240 non-null    object
 8   budget      240 non-null    object
 9   worldwide   240 non-null    object
 10  soup_text   240 non-null    object
dtypes: object(11)
memory usage: 22.5+ KB

In [127]:
imdb_errors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 202
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tconst  203 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

In [128]:
# Check results for duplicates
dups_df = imdb_scrape[imdb_scrape['tconst'].isin(imdb_scrape['tconst'].value_counts()[imdb_scrape['tconst'].value_counts()>2].index)]
print(dups_df.shape)
dups_df.head(30)

(0, 11)

Empty DataFrame
Columns: [tconst, newurl, rating, votes, year, mpaarating, runtime, rlsdt, budget, worldwide, soup_text]
Index: []

In [ ]:
# Check errors for duplicates
dups_df = imdb_errors[imdb_errors['tconst'].isin(imdb_errors['tconst'].value_counts()[imdb_errors['tconst'].value_counts()>2].index)]
print(dups_df.shape)
dups_df.head(30)

In [130]:
imdb_scrape.head()

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
0,tt0115433,https://www.imdb.com/title/tt0115433,5.7,110K,1996,G,1h 43m,"November 27, 1996 (United States)","$75,000,000 (estimated)","$320,689,294","[html, [[<meta content=""width=device-width"" na..."
1,tt0211181,https://www.imdb.com/title/tt0211181,4.8,37K,2000,G,1h 40m,"November 22, 2000 (United States)","$85,000,000 (estimated)","$183,611,771","[html, [[<meta content=""width=device-width"" na..."
2,tt0120623,https://www.imdb.com/title/tt0120623,7.2,285K,1998,G,1h 35m,"November 25, 1998 (United States)","$120,000,000 (estimated)","$363,258,859","[html, [[<meta content=""width=device-width"" na..."
3,tt1067106,https://www.imdb.com/title/tt1067106,6.8,113K,2009,PG,1h 36m,"November 6, 2009 (United States)","$200,000,000 (estimated)","$325,286,646","[html, [[<meta content=""width=device-width"" na..."
4,tt0113198,https://www.imdb.com/title/tt0113198,6.9,52K,1995,G,1h 18m,"April 7, 1995 (United States)","$18,000,000 (estimated)","$35,348,597","[html, [[<meta content=""width=device-width"" na..."

### 04.02.05 Export Results from First Pass

In [131]:
imdb_scrape.to_csv('../Bens_Data/imdb_scrape_1.csv')
imdb_errors.to_csv('../Bens_Data/imdb_errors_1.csv')

# THE NEXT MORNING..

Becuase each IMDB title page is not uniform, and because we didn't save the HTML from the titles that previously gave us errors, we have to go get that HTML and look in different locations for the data that we want.

## 04.03 Scrape IMDB Second Pass

### 04.03.01 Import Results from First Pass

In [142]:
imdb_scrape = pd.read_csv('../Bens_Data/imdb_scrape_1.csv')
imdb_errors = pd.read_csv('../Bens_Data/imdb_errors_1.csv')
imdb_errors_r2 = pd.DataFrame(columns=['tconst'])

In [143]:
imdb_scrape.drop(columns=['Unnamed: 0'], inplace=True)
imdb_scrape.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      239 non-null    object
 1   newurl      239 non-null    object
 2   rating      239 non-null    float64
 3   votes       239 non-null    object
 4   year        239 non-null    int64
 5   mpaarating  239 non-null    object
 6   runtime     239 non-null    object
 7   rlsdt       239 non-null    object
 8   budget      239 non-null    object
 9   worldwide   239 non-null    object
 10  soup_text   239 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 20.7+ KB

In [144]:
imdb_errors.drop(columns=['Unnamed: 0'], inplace=True)
imdb_errors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tconst  203 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### 04.03.02 Prep for IMDB Scrape Second Pass

In [145]:
# Target web page:
url = "https://www.imdb.com/title/"
# Establishing the connection to the web page:
response = requests.get(url)
# response.text[:50]
soup = BeautifulSoup(response.text, 'lxml')

### 04.03.03 Initiate Second Pass

In [146]:
counter = 1
for const in imdb_errors['tconst']:
    
    # found1 = imdb_scrape[imdb_scrape['tconst'].str.contains(const)]
    # found2 = imdb_errors[imdb_errors['tconst'].str.contains(const)]
    # summ = found1.count().sum() + found2.count().sum()
    
    # if summ < 1:
    
        # const = "tt0115433"
        # const = "tt0029583"
        # const = "tt1067106"
        budget = ''
        worldwide = ''
        t= random.uniform(1, 5)
        time.sleep(t)
        newurl = url + const
        print(newurl)
        response = requests.get(newurl)
        soup = BeautifulSoup(response.text, 'lxml')
        print(counter)
        counter += 1
        rtspan = soup.find_all('span', {'class' : 'sc-7ab21ed2-1 jGRxWM'})
        rating = rtspan[0].get_text()

        vtdiv = soup.find_all('div', {'class' : 'sc-7ab21ed2-3 dPVcnq'})
        votes = vtdiv[0].text

        # mpaaspan = soup.find_all('span', {'class' : 'ipc-metadata-list-item__list-content-item'})
        # mpaarating = mpaaspan[2].get_text()
        try:

            metaul = soup.find_all('ul', {'data-testid' : 'hero-title-block__metadata'})
            year = metaul[0].find_all('li')[0].find_all('span')[0].get_text()
            mpaarating = metaul[0].find_all('li')[1].find_all('span')[0].get_text()
            runtime = metaul[0].find_all('li')[2].get_text()
            rlsdt = soup.find_all('li', {'data-testid' : 'title-details-releasedate'})[0].find_all('a')[1].get_text()
            try:
                budget = soup.find_all('li', {'data-testid' : 'title-boxoffice-budget'})[0].find_all('li')[0].get_text()
            except:
                pass
            try:    
                worldwide = soup.find_all('li', {'data-testid' : 'title-boxoffice-cumulativeworldwidegross'})[0].find_all('li')[0].get_text()
            except:
                pass   
            print(newurl)
            print(rating)
            print(votes) 
            print(year) 
            print(mpaarating) 
            print(runtime) 
            print(rlsdt) 
            print(budget) 
            print(worldwide) 
            imdb_scrape.loc[len(imdb_scrape.index)] = [const, newurl, rating, votes, year ,mpaarating ,runtime ,rlsdt ,budget ,worldwide, soup]

        except:
            imdb_errors_r2.loc[len(imdb_errors_r2.index)] = [const]
            print(f"ERROR ON: {const}")

https://www.imdb.com/title/tt0046672
1
https://www.imdb.com/title/tt0046672
7.2
33K
1954
G
2h 7m
July 20, 1955 (United States)
$9,000,000 (estimated)

https://www.imdb.com/title/tt0106868
2
https://www.imdb.com/title/tt0106868
6.5
3.6K
1993
PG
1h 48m
March 12, 1993 (United States)

$12,890,752
https://www.imdb.com/title/tt0058657
3
https://www.imdb.com/title/tt0058657
6.3
351
1964
Approved
1h 31m
March 12, 1964 (United States)


https://www.imdb.com/title/tt0043274
4
https://www.imdb.com/title/tt0043274
7.4
138K
1951
G
1h 15m
July 28, 1951 (United States)
$3,000,000 (estimated)

https://www.imdb.com/title/tt0417415
5
https://www.imdb.com/title/tt0417415
6.4
3K
2005
G
1h 40m
August 25, 2005 (Germany)

$12,775,590
https://www.imdb.com/title/tt0055740
6
https://www.imdb.com/title/tt0055740
6.6
550
1962
Not Rated
1h 33m
December 21, 1962 (United States)


https://www.imdb.com/title/tt0381006
7
https://www.imdb.com/title/tt0381006
5.0
680
2004
PG
1h 24m
July 2, 2004 (United States)

$314,402
https://www.imdb.com/title/tt0082017
8
https://www.imdb.com/title/tt0082017
6.6
470
1981
G
1h 40m
March 20, 1981 (United States)


https://www.imdb.com/title/tt0043286
9
https://www.imdb.com/title/tt0043286
7.1
2.4K
1951
Approved
1h 39m
October 19, 1951 (United States)
$1,081,000 (estimated)

https://www.imdb.com/title/tt3089630
10
https://www.imdb.com/title/tt3089630
4.2
27K
2020
PG
1h 35m
June 12, 2020 (United States)


https://www.imdb.com/title/tt0054649
11
https://www.imdb.com/title/tt0054649
6.2
4.2K
1961
Approved
1h 46m
December 14, 1961 (United States)


https://www.imdb.com/title/tt0168473
12
https://www.imdb.com/title/tt0168473
4.9
564
1997
G
1h 14m
October 14, 1997 (United States)


https://www.imdb.com/title/tt0034492
13
https://www.imdb.com/title/tt0034492
7.3
140K
1942
G
1h 10m
August 21, 1942 (United States)

$267,447,150
https://www.imdb.com/title/tt0066817
14
https://www.imdb.com/title/tt0066817
7.1
37K
1971
G
1h 57m
December 13, 1971 (United States)
$20,000,000 (estimated)

https://www.imdb.com/title/tt0092638
15
https://www.imdb.com/title/tt0092638
6.2
3.1K
1987
G
1h 28m
June 19, 1987 (United States)

$22,257,624
https://www.imdb.com/title/tt0055793
16
https://www.imdb.com/title/tt0055793
6.4
764
1962
Not Rated
1h 29m
June 6, 1962 (United States)


https://www.imdb.com/title/tt0062737
17
https://www.imdb.com/title/tt0062737
6.8
5.9K
1968
Approved
1h 46m
February 8, 1968 (United States)

$21,540,050
https://www.imdb.com/title/tt0109287
18
https://www.imdb.com/title/tt0109287
5.2
20K
1994
PG
1h 33m
February 11, 1994 (United States)

$30,577,969
https://www.imdb.com/title/tt0055807
19
https://www.imdb.com/title/tt0055807
5.7
674
1962
Not Rated
2h 10m
May 17, 1962 (United States)


https://www.imdb.com/title/tt0075807
20
https://www.imdb.com/title/tt0075807
6.7
4.4K
1977
G
1h 41m
December 16, 1977 (United States)


https://www.imdb.com/title/tt0069866
21
https://www.imdb.com/title/tt0069866
6.1
564
1973
G
1h 33m
March 23, 1973 (United States)


https://www.imdb.com/title/tt0062793
22
https://www.imdb.com/title/tt0062793
6.8
863
1967
Approved
1h 15m
October 18, 1967 (United States)


https://www.imdb.com/title/tt0997047
23
https://www.imdb.com/title/tt0997047
4.3
16K
2008
G
1h 23m
March 7, 2008 (United States)

$51,549,674
https://www.imdb.com/title/tt0082199
24
https://www.imdb.com/title/tt0082199
5.7
4.9K
1981
PG
1h 30m
August 7, 1981 (United States)
$14,000,000 (estimated)

https://www.imdb.com/title/tt0109520
25
https://www.imdb.com/title/tt0109520
6.1
40K
1994
PG
1h 46m
March 25, 1994 (United States)

$45,610,410
https://www.imdb.com/title/tt0116000
26
https://www.imdb.com/title/tt0116000
5.4
27K
1996
PG
1h 44m
October 4, 1996 (United States)

$22,955,097
https://www.imdb.com/title/tt0052722
27
https://www.imdb.com/title/tt0052722
7.2
8.1K
1959
G
1h 33m
June 22, 1960 (United States)


https://www.imdb.com/title/tt0049125
28
https://www.imdb.com/title/tt0049125
6.6
2.1K
1956
Approved
1h 21m
July 18, 1956 (United States)


https://www.imdb.com/title/tt0047977
29
https://www.imdb.com/title/tt0047977
6.9
4.2K
1955
Approved
1h 33m
May 25, 1955 (United States)


https://www.imdb.com/title/tt1714832
30
https://www.imdb.com/title/tt1714832
7.5
5.5K
2010
PG
1h 52m
October 8, 2010 (India)


https://www.imdb.com/title/tt0099472
31
https://www.imdb.com/title/tt0099472
6.8
27K
1990
G
1h 14m
August 3, 1990 (United States)

$18,115,724
https://www.imdb.com/title/tt0058056
32
https://www.imdb.com/title/tt0058056
6.2
701
1964
Approved
1h 39m
December 18, 1964 (United States)


https://www.imdb.com/title/tt0120659
33
https://www.imdb.com/title/tt0120659
6.3
418
1998
G
1h 23m
May 14, 1999 (United States)

$137,124
https://www.imdb.com/title/tt0072951
34
https://www.imdb.com/title/tt0072951
6.3
10K
1975
G
1h 37m
March 21, 1975 (United States)

$20,000,000
https://www.imdb.com/title/tt0116311
35
https://www.imdb.com/title/tt0116311
5.2
11K
1996
PG
1h 41m
August 30, 1996 (United States)

$26,491,793
https://www.imdb.com/title/tt0060420
36
https://www.imdb.com/title/tt0060420
7.1
2.4K
1966
Approved
2h 11m
December 1, 1966 (United States)


https://www.imdb.com/title/tt0113104
37
https://www.imdb.com/title/tt0113104
7.7
907
1995
PG
1h 29m
October 20, 1995 (United States)


https://www.imdb.com/title/tt0076054
38
https://www.imdb.com/title/tt0076054
6.3
13K
1976
G
1h 35m
January 21, 1977 (United States)

$25,942,000
https://www.imdb.com/title/tt0039404
39
https://www.imdb.com/title/tt0039404
6.4
8.2K
1947
Approved
1h 13m
March 12, 1948 (United States)


https://www.imdb.com/title/tt0385726
40
https://www.imdb.com/title/tt0385726
7.2
46K
2006
PG
1h 58m
January 13, 2006 (United States)

$42,938,449
https://www.imdb.com/title/tt0054944
41
https://www.imdb.com/title/tt0054944
7.3
1.6K
1961
Approved
1h 27m
July 17, 1961 (United States)

$721,203
https://www.imdb.com/title/tt0074599
42
https://www.imdb.com/title/tt0074599
5.7
1.9K
1976
G
1h 36m
July 7, 1976 (United States)

$21,873,000
https://www.imdb.com/title/tt0110006
43
https://www.imdb.com/title/tt0110006
6.6
28K
1995
PG
1h 40m
February 17, 1995 (United States)

$17,689,177
https://www.imdb.com/title/tt0080861
44
https://www.imdb.com/title/tt0080861
4.9
5.7K
1980
G
1h 40m
June 25, 1980 (United States)

$18,000,000
https://www.imdb.com/title/tt0076137
45
https://www.imdb.com/title/tt0076137
5.6
7.4K
1977
G
1h 45m
June 24, 1977 (United States)

$29,000,000
https://www.imdb.com/title/tt0071607
46
https://www.imdb.com/title/tt0071607
5.7
8K
1974
G
1h 28m
June 6, 1974 (United States)

$38,229,000
https://www.imdb.com/title/tt1556143
47
https://www.imdb.com/title/tt1556143
5.3
106
2010
G
1h 34m
August 12, 2010 (China)


https://www.imdb.com/title/tt0116552
48
https://www.imdb.com/title/tt0116552
5.9
15K
1996
G
1h 28m
March 8, 1996 (United States)

$32,772,492
https://www.imdb.com/title/tt0107131
49
https://www.imdb.com/title/tt0107131
6.9
46K
1993
G
1h 24m
February 12, 1993 (United States)

$41,833,324
https://www.imdb.com/title/tt0077698
50
https://www.imdb.com/title/tt0077698
6.0
1.3K
1978
G
1h 30m
July 5, 1978 (United States)


https://www.imdb.com/title/tt0396652
51
https://www.imdb.com/title/tt0396652
6.0
27K
2005
G
1h 38m
March 18, 2005 (United States)

$27,645,491
https://www.imdb.com/title/tt0056095
52
https://www.imdb.com/title/tt0056095
6.5
3.1K
1962
Approved
1h 38m
December 21, 1962 (United States)


https://www.imdb.com/title/tt0110157
53
https://www.imdb.com/title/tt0110157
6.6
8.5K
1994
PG
1h 48m
January 14, 1994 (United States)

$21,006,361
https://www.imdb.com/title/tt0050567
54
https://www.imdb.com/title/tt0050567
6.5
1.8K
1957
Approved
1h 20m
June 19, 1957 (United States)


https://www.imdb.com/title/tt1229827
55
https://www.imdb.com/title/tt1229827
1.7
17K
2009
G
1h 16m
February 27, 2009 (United States)

$23,186,960
https://www.imdb.com/title/tt0053977
56
https://www.imdb.com/title/tt0053977
7.3
328
1960
Approved
1h 9m
December 23, 1960 (United States)


https://www.imdb.com/title/tt0053994
57
https://www.imdb.com/title/tt0053994
6.6
1.5K
1959
Approved
1h 37m
February 24, 1960 (United States)


https://www.imdb.com/title/tt0065943
58
https://www.imdb.com/title/tt0065943
5.7
178
1970
G
1h 33m
February 11, 1970 (United States)


https://www.imdb.com/title/tt8096832
59
https://www.imdb.com/title/tt8096832
6.2
21K
2019
PG
1h 51m
November 12, 2019 (United States)


https://www.imdb.com/title/tt0070131
60
https://www.imdb.com/title/tt0070131
6.4
377
1974
X
1h 41m
June 1976 (United States)


https://www.imdb.com/title/tt0986264
61
https://www.imdb.com/title/tt0986264
8.4
187K
2007
PG
2h 45m
December 21, 2007 (India)

$21,897,373
https://www.imdb.com/title/tt0060640
62
https://www.imdb.com/title/tt0060640
5.8
1.4K
1966
G
1h 50m
July 29, 1966 (United States)


https://www.imdb.com/title/tt12801262
63
https://www.imdb.com/title/tt12801262
7.5
146K
2021
PG
1h 35m
June 18, 2021 (United States)

$49,750,471
https://www.imdb.com/title/tt0038718
64
https://www.imdb.com/title/tt0038718
6.2
4.3K
1946
Passed
1h 15m
August 15, 1946 (United States)


https://www.imdb.com/title/tt0113755
65
https://www.imdb.com/title/tt0113755
5.2
9.6K
1995
PG
1h 36m
March 3, 1995 (United States)

$40,070,995
https://www.imdb.com/title/tt0040580
66
https://www.imdb.com/title/tt0040580
6.2
5.9K
1948
Approved
1h 15m
May 27, 1948 (United States)


https://www.imdb.com/title/tt0081159
67
https://www.imdb.com/title/tt0081159
6.3
3.5K
1980
PG
1h 52m
February 8, 1980 (United States)

$2,900,000
https://www.imdb.com/title/tt0041650
68
https://www.imdb.com/title/tt0041650
7.0
5.2K
1949
Approved
1h 34m
August 29, 1949 (Sweden)
$1,800,000 (estimated)

https://www.imdb.com/title/tt0057312
69
ERROR ON: tt0057312
https://www.imdb.com/title/tt0061989
70
https://www.imdb.com/title/tt0061989
5.8
520
1967
Passed
1h 41m
June 23, 1967 (United States)


https://www.imdb.com/title/tt0056249
71
https://www.imdb.com/title/tt0056249
5.4
468
1962
Not Rated
1h 38m
April 5, 1962 (United States)


https://www.imdb.com/title/tt1198405
72
https://www.imdb.com/title/tt1198405
5.8
389
2008
PG
1h 37m
March 12, 2009 (Australia)

$275,776
https://www.imdb.com/title/tt0118172
73
https://www.imdb.com/title/tt0118172
6.3
3.2K
1996
PG
1h 28m
October 31, 1997 (United States)


https://www.imdb.com/title/tt0117110
74
https://www.imdb.com/title/tt0117110
6.9
24K
1996
G
1h 39m
February 16, 1996 (United States)

$34,327,391
https://www.imdb.com/title/tt0206013
75
https://www.imdb.com/title/tt0206013
7.1
14K
1999
PG
1h 44m
December 22, 2000 (United States)
¥2,000,000,000 (estimated)

https://www.imdb.com/title/tt0068990
76
https://www.imdb.com/title/tt0068990
6.0
985
1972
G
1h 32m
July 5, 1972 (United States)


https://www.imdb.com/title/tt0063341
77
https://www.imdb.com/title/tt0063341
6.1
715
1968
G
1h 39m
June 26, 1968 (United States)


https://www.imdb.com/title/tt0086005
78
https://www.imdb.com/title/tt0086005
7.5
8.1K
1983
PG
1h 45m
January 27, 1984 (United States)

$29,600,000
https://www.imdb.com/title/tt0055232
79
https://www.imdb.com/title/tt0055232
6.7
454
1961
G
1h 14m
December 15, 1961 (United States)


https://www.imdb.com/title/tt0074968
80
https://www.imdb.com/title/tt0074968
6.4
1.5K
1976
G
1h 52m
February 5, 1976 (United States)


https://www.imdb.com/title/tt0069031
81
https://www.imdb.com/title/tt0069031
6.2
2K
1972
G
1h 28m
July 12, 1972 (United States)


https://www.imdb.com/title/tt0050798
82
https://www.imdb.com/title/tt0050798
7.3
13K
1957
Approved
1h 23m
July 10, 1959 (United States)


https://www.imdb.com/title/tt1621994
83
https://www.imdb.com/title/tt1621994
5.3
551
2011
PG-13
2h 13m
January 21, 2011 (United States)
₹270,000,000 (estimated)

https://www.imdb.com/title/tt0070481
84
https://www.imdb.com/title/tt0070481
6.2
632
1973
G
1h 30m
June 20, 1973 (United States)


https://www.imdb.com/title/tt0089731
85
https://www.imdb.com/title/tt0089731
6.5
3.8K
1985
G
1h 29m
November 22, 1985 (United States)

$13,677,222
https://www.imdb.com/title/tt0075016
86
https://www.imdb.com/title/tt0075016
5.9
1.8K
1975
G
1h 34m
July 9, 1975 (United States)


https://www.imdb.com/title/tt0114048
87
https://www.imdb.com/title/tt0114048
5.1
9K
1995
PG
1h 47m
July 28, 1995 (United States)

$24,670,346
https://www.imdb.com/title/tt0054195
88
https://www.imdb.com/title/tt0054195
7.4
10K
1960
Approved
2h 14m
May 19, 1960 (United States)


https://www.imdb.com/title/tt0064875
89
https://www.imdb.com/title/tt0064875
6.4
463
1969
G
1h 25m
June 11, 1969 (United States)


https://www.imdb.com/title/tt5109280
90
https://www.imdb.com/title/tt5109280
7.3
140K
2021
PG
1h 47m
March 5, 2021 (United States)

$130,423,032
https://www.imdb.com/title/tt0078158
91
https://www.imdb.com/title/tt0078158
5.7
5.1K
1978
G
1h 35m
March 10, 1978 (United States)

$16,393,000
https://www.imdb.com/title/tt0095993
92
https://www.imdb.com/title/tt0095993
6.6
2.5K
1988
PG
1h 39m
April 15, 1988 (United States)

$13,687,027
https://www.imdb.com/title/tt0075141
93
https://www.imdb.com/title/tt0075141
6.1
203
1975
G
1h 31m
March 26, 1976 (United States)


https://www.imdb.com/title/tt0046246
94
https://www.imdb.com/title/tt0046246
6.4
589
1953
Approved
1h 21m
February 27, 1954 (United States)
$1,800,000 (estimated)

https://www.imdb.com/title/tt0070608
95
https://www.imdb.com/title/tt0070608
7.5
124K
1973
G
1h 23m
November 8, 1973 (United States)
$5,000,000 (estimated)

https://www.imdb.com/title/tt0120029
96
https://www.imdb.com/title/tt0120029
5.9
9.6K
1997
PG
1h 35m
October 10, 1997 (United States)

$15,448,043
https://www.imdb.com/title/tt2414212
97
https://www.imdb.com/title/tt2414212
4.9
1.4K
2012
G
1h 28m
November 20, 2012 (United States)


https://www.imdb.com/title/tt0057473
98
https://www.imdb.com/title/tt0057473
6.1
1.1K
1963
Approved
1h 43m
June 1, 1963 (United States)


https://www.imdb.com/title/tt0067712
99
https://www.imdb.com/title/tt0067712
5.9
139
1971
G
1h 53m
June 22, 1971 (United States)


https://www.imdb.com/title/tt0049733
100
https://www.imdb.com/title/tt0049733
7.4
272
1956
Passed
1h 10m
November 6, 1956 (United States)


https://www.imdb.com/title/tt2064925
101
ERROR ON: tt2064925
https://www.imdb.com/title/tt0065003
102
https://www.imdb.com/title/tt0065003
5.8
238
1969
G
1h 52m
March 21, 1969 (United States)


https://www.imdb.com/title/tt0069291
103
https://www.imdb.com/title/tt0069291
6.3
1.8K
1972
G
1h 33m
June 22, 1973 (United States)


https://www.imdb.com/title/tt0041890
104
https://www.imdb.com/title/tt0041890
6.9
1.5K
1948
Passed
1h 19m
January 19, 1949 (United States)


https://www.imdb.com/title/tt0057518
105
https://www.imdb.com/title/tt0057518
6.1
3K
1963
Approved
1h 40m
January 16, 1963 (United States)
$2,000,000 (estimated)

https://www.imdb.com/title/tt2948372
106
https://www.imdb.com/title/tt2948372
8.1
305K
2020
PG
1h 40m
December 25, 2020 (United States)

$120,957,731
https://www.imdb.com/title/tt0069303
107
https://www.imdb.com/title/tt0069303
7.6
4.1K
1972
G
1h 45m
April 26, 1973 (Argentina)


https://www.imdb.com/title/tt0057542
108
https://www.imdb.com/title/tt0057542
7.0
2.4K
1963
Approved
1h 50m
July 7, 1963 (United States)


https://www.imdb.com/title/tt0070716
109
https://www.imdb.com/title/tt0070716
5.2
765
1973
G
1h 36m
February 1974 (United States)


https://www.imdb.com/title/tt1705952
110
https://www.imdb.com/title/tt1705952
4.8
13K
2013
PG
1h 34m
February 20, 2014 (Germany)

$44,095,996
https://www.imdb.com/title/tt0054372
111
https://www.imdb.com/title/tt0054372
5.5
253
1960
Not Rated
1h 32m
November 1, 1960 (United States)


https://www.imdb.com/title/tt0084783
112
https://www.imdb.com/title/tt0084783
6.5
2.2K
1982
PG
1h 43m
July 30, 1982 (United States)

$7,400,000
https://www.imdb.com/title/tt0059793
113
https://www.imdb.com/title/tt0059793
6.7
6.9K
1965
Approved
1h 56m
December 2, 1965 (United States)


https://www.imdb.com/title/tt0120317
114
https://www.imdb.com/title/tt0120317
4.6
4.4K
1997
PG
1h 29m
February 14, 1997 (United States)

$18,301,610
https://www.imdb.com/title/tt0061333
115
https://www.imdb.com/title/tt0061333
6.5
1K
1967
Approved
1h 48m
March 8, 1967 (United States)


https://www.imdb.com/title/tt0041094
116
https://www.imdb.com/title/tt0041094
6.9
15K
1949
Approved
1h 8m
January 6, 1950 (United States)


https://www.imdb.com/title/tt0047803
117
https://www.imdb.com/title/tt0047803
7.2
469
1955
G
1h 15m
September 14, 1955 (United States)


https://www.imdb.com/title/tt0072653
118
https://www.imdb.com/title/tt0072653
6.4
5.8K
1975
G
1h 40m
July 1, 1975 (United States)

$36,853,000
https://www.imdb.com/title/tt0066811
119
https://www.imdb.com/title/tt0066811
5.9
1.9K
1971
G
1h 36m
March 17, 1971 (United States)


https://www.imdb.com/title/tt0071199
120
https://www.imdb.com/title/tt0071199
6.2
448
1974
G
1h 29m
July 31, 1974 (United States)


https://www.imdb.com/title/tt0032254
121
https://www.imdb.com/title/tt0032254
7.2
224
1940
Passed
1h 21m
May 24, 1940 (United States)


https://www.imdb.com/title/tt0068276
122
https://www.imdb.com/title/tt0068276
5.8
435
1972
G
1h 30m
March 22, 1972 (United States)


https://www.imdb.com/title/tt0065482
123
https://www.imdb.com/title/tt0065482
5.5
773
1970
G
1h 39m
July 1, 1970 (United States)


https://www.imdb.com/title/tt1015971
124
https://www.imdb.com/title/tt1015971
7.7
1.1K
2009
PG
1h 41m
April 24, 2009 (United States)

$55,513
https://www.imdb.com/title/tt0092695
125
https://www.imdb.com/title/tt0092695
7.3
25K
1987
G
1h 30m
July 10, 1987 (United States)
$2,300,000 (estimated)

https://www.imdb.com/title/tt0071288
126
https://www.imdb.com/title/tt0071288
5.8
704
1974
G
1h 31m
August 1, 1974 (United States)


https://www.imdb.com/title/tt0077305
127
https://www.imdb.com/title/tt0077305
6.0
5.1K
1978
G
1h 44m
June 9, 1978 (United States)
$4,000,000 (estimated)

https://www.imdb.com/title/tt0090840
128
https://www.imdb.com/title/tt0090840
6.3
631
1986
TV-G
1h 34m
December 14, 1986 (United States)
$3,500,000 (estimated)

https://www.imdb.com/title/tt0065566
129
https://www.imdb.com/title/tt0065566
6.0
5.2K
1969
G
1h 31m
December 24, 1969 (United States)


https://www.imdb.com/title/tt0902967
130
https://www.imdb.com/title/tt0902967
7.3
1.3K
2008
G
1h 18m
September 25, 2009 (United Kingdom)

$1,783,519
https://www.imdb.com/title/tt0082263
131
https://www.imdb.com/title/tt0082263
5.0
1.3K
1981
PG
1h 36m
March 6, 1981 (United States)

$16,000,000
https://www.imdb.com/title/tt0196516
132
https://www.imdb.com/title/tt0196516
4.5
539
1999
G
1h 28m
December 17, 1999 (United States)


https://www.imdb.com/title/tt0060408
133
https://www.imdb.com/title/tt0060408
6.1
387
1966
Not Rated
1h 50m
October 1, 1966 (United States)


https://www.imdb.com/title/tt0058099
134
ERROR ON: tt0058099
https://www.imdb.com/title/tt0061715
135
https://www.imdb.com/title/tt0061715
6.5
2.2K
1967
Approved
1h 24m
July 19, 1967 (United States)


https://www.imdb.com/title/tt0049279
136
https://www.imdb.com/title/tt0049279
6.9
1.2K
1956
Approved
1h 25m
August 17, 1956 (United Kingdom)
$2,500,000 (estimated)

https://www.imdb.com/title/tt0082474
137
https://www.imdb.com/title/tt0082474
7.1
15K
1981
G
1h 37m
June 26, 1981 (United States)

$31,206,251
https://www.imdb.com/title/tt0061749
138
https://www.imdb.com/title/tt0061749
6.6
2.1K
1967
Approved
2h 21m
July 10, 1968 (United States)


https://www.imdb.com/title/tt0063091
139
https://www.imdb.com/title/tt0063091
6.3
1K
1968
G
1h 53m
June 19, 1970 (United States)


https://www.imdb.com/title/tt0057180
140
https://www.imdb.com/title/tt0057180
7.0
4.6K
1963
G
1h 20m
November 20, 1963 (United States)


https://www.imdb.com/title/tt0071671
141
https://www.imdb.com/title/tt0071671
6.2
2.7K
1974
G
1h 33m
December 20, 1974 (United States)
$8,000,000 (estimated)

https://www.imdb.com/title/tt0089385
142
https://www.imdb.com/title/tt0089385
7.0
6.1K
1985
PG
1h 41m
September 27, 1985 (United States)

$9,708,373
https://www.imdb.com/title/tt0056173
143
https://www.imdb.com/title/tt0056173
6.8
533
1962
Approved
1h 7m
November 7, 1962 (United States)



### 04.03.04 Explore Results of Second Pass

In [147]:
imdb_scrape.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 0 to 437
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      438 non-null    object
 1   newurl      438 non-null    object
 2   rating      438 non-null    object
 3   votes       438 non-null    object
 4   year        438 non-null    object
 5   mpaarating  438 non-null    object
 6   runtime     438 non-null    object
 7   rlsdt       438 non-null    object
 8   budget      438 non-null    object
 9   worldwide   438 non-null    object
 10  soup_text   438 non-null    object
dtypes: object(11)
memory usage: 41.1+ KB

In [148]:
imdb_errors_r2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tconst  4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

Still a few errors but no duplication

In [149]:
dups_df = imdb_scrape[imdb_scrape['tconst'].isin(imdb_scrape['tconst'].value_counts()[imdb_scrape['tconst'].value_counts()>2].index)]
print(dups_df.shape)
dups_df.head(30)

(0, 11)

Empty DataFrame
Columns: [tconst, newurl, rating, votes, year, mpaarating, runtime, rlsdt, budget, worldwide, soup_text]
Index: []

### 04.03.05 Export Results from Second Pass

In [150]:
imdb_scrape.to_csv('../Bens_Data/imdb_scrape_rnd2.csv')
imdb_errors_r2.to_csv('../Bens_Data/imdb_errors_rnd2.csv')

## 04.04 Scrape IMDB Third & Fourth Pass

The following code was run, and re-run multiple times.  Eacht time the code was tweaked and the number of observations in our errors file decreased.

### 04.04.01 Import Results from Second Pass

In [7]:
imdb_scrape = pd.read_csv('../Bens_Data/imdb_scrape_rnd2.csv')
imdb_errors_r2 = pd.read_csv('../Bens_Data/imdb_errors_rnd2.csv')

In [8]:
imdb_errors_r2.head()

   Unnamed: 0     tconst
0           0  tt0057312
1           1  tt2064925
2           2  tt0058099
3           3  tt1686635

In [9]:
imdb_scrape.head()

,Unnamed: 0,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
0,0,tt0115433,https://www.imdb.com/title/tt0115433,5.7,110K,1996,G,1h 43m,"November 27, 1996 (United States)","$75,000,000 (estimated)","$320,689,294","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
1,1,tt0211181,https://www.imdb.com/title/tt0211181,4.8,37K,2000,G,1h 40m,"November 22, 2000 (United States)","$85,000,000 (estimated)","$183,611,771","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
2,2,tt0120623,https://www.imdb.com/title/tt0120623,7.2,285K,1998,G,1h 35m,"November 25, 1998 (United States)","$120,000,000 (estimated)","$363,258,859","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
3,3,tt1067106,https://www.imdb.com/title/tt1067106,6.8,113K,2009,PG,1h 36m,"November 6, 2009 (United States)","$200,000,000 (estimated)","$325,286,646","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
4,4,tt0113198,https://www.imdb.com/title/tt0113198,6.9,52K,1995,G,1h 18m,"April 7, 1995 (United States)","$18,000,000 (estimated)","$35,348,597","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [11]:
imdb_scrape.drop(columns=['Unnamed: 0'], inplace=True)

In [12]:
imdb_scrape.head()

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
0,tt0115433,https://www.imdb.com/title/tt0115433,5.7,110K,1996,G,1h 43m,"November 27, 1996 (United States)","$75,000,000 (estimated)","$320,689,294","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
1,tt0211181,https://www.imdb.com/title/tt0211181,4.8,37K,2000,G,1h 40m,"November 22, 2000 (United States)","$85,000,000 (estimated)","$183,611,771","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
2,tt0120623,https://www.imdb.com/title/tt0120623,7.2,285K,1998,G,1h 35m,"November 25, 1998 (United States)","$120,000,000 (estimated)","$363,258,859","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
3,tt1067106,https://www.imdb.com/title/tt1067106,6.8,113K,2009,PG,1h 36m,"November 6, 2009 (United States)","$200,000,000 (estimated)","$325,286,646","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
4,tt0113198,https://www.imdb.com/title/tt0113198,6.9,52K,1995,G,1h 18m,"April 7, 1995 (United States)","$18,000,000 (estimated)","$35,348,597","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

### 04.04.02 Initiate Third Pass

In [10]:
for const in imdb_errors_r2['tconst']:
    
    # found1 = imdb_scrape[imdb_scrape['tconst'].str.contains(const)]
    # found2 = imdb_errors[imdb_errors['tconst'].str.contains(const)]
    # summ = found1.count().sum() + found2.count().sum()
    
    skip = ['tt0035462','tt7728220','tt1686635','tt1935157','tt0344910','tt2905856','tt14608798','tt0780134','tt0087993','tt0057312','tt1130090','tt9047432','tt0066250','tt2064925','tt0096866','tt0058099','tt0246786','tt0385277']
    
    if (const in skip) == False:
    
        # const = "tt0115433"
        # const = "tt0029583"
        # const = "tt1067106"
        budget = ''
        worldwide = ''
        t= random.uniform(1, 5)
        time.sleep(t)
        newurl = url + const
        response = requests.get(newurl)
        soup = BeautifulSoup(response.text, 'lxml')
        print(newurl)
        rtspan = soup.find_all('span', {'class' : 'sc-7ab21ed2-1 jGRxWM'})
        rating = rtspan[0].get_text()

        vtdiv = soup.find_all('div', {'class' : 'sc-7ab21ed2-3 dPVcnq'})
        votes = vtdiv[0].text

        # mpaaspan = soup.find_all('span', {'class' : 'ipc-metadata-list-item__list-content-item'})
        # mpaarating = mpaaspan[2].get_text()
        # try:

        metaul = soup.find_all('ul', {'data-testid' : 'hero-title-block__metadata'})
        year = metaul[0].find_all('li')[0].find_all('span')[0].get_text()
        mpaarating = metaul[0].find_all('li')[1].find_all('span')[0].get_text()
        runtime = metaul[0].find_all('li')[2].get_text()
        rlsdt = soup.find_all('li', {'data-testid' : 'title-details-releasedate'})[0].find_all('a')[1].get_text()

        budget = soup.find_all('li', {'data-testid' : 'title-boxoffice-budget'})[0].find_all('li')[0].get_text()


        worldwide = soup.find_all('li', {'data-testid' : 'title-boxoffice-cumulativeworldwidegross'})[0].find_all('li')[0].get_text()

        print(newurl)
        print(rating)
        print(votes) 
        print(year) 
        print(mpaarating) 
        print(runtime) 
        print(rlsdt) 
        print(budget) 
        print(worldwide) 
        imdb_scrape.loc[len(imdb_scrape.index)] = [const, newurl, rating, votes, year ,mpaarating ,runtime ,rlsdt ,budget ,worldwide, soup]

        # except:
        #     imdb_errors_r2.loc[len(imdb_errors_r2.index)] = [const]
        #     print(f"ERROR ON: {const}")

### 04.04.03 Manually Check the last 4 errors

In [13]:
imdb_scrape[imdb_scrape['tconst']=='tt0049733']

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
337,tt0049733,https://www.imdb.com/title/tt0049733,7.4,272,1956,Passed,1h 10m,"November 6, 1956 (United States)",NaN,NaN,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [14]:
imdb_scrape[imdb_scrape['tconst']=='tt2025690']

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
179,tt2025690,https://www.imdb.com/title/tt2025690,6.7,66K,2016,PG-13,1h 57m,"January 29, 2016 (United States)","$80,000,000 (estimated)","$52,099,090","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [15]:
imdb_scrape[imdb_scrape['tconst']=='tt0046387']

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
403,tt0046387,https://www.imdb.com/title/tt0046387,6.3,871,1953,Approved,1h 32m,"July 23, 1953 (United States)",NaN,"$2,500,000","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [ ]:
https://www.imdb.com/title/tt0057312 
        # Miracle of the White Stallions
        # Initial release: March 29, 1963
        # Director: Arthur Hiller
        # Box office $2,550,000 (US/ Canada)[1]
        # G  
        # Family, Live Action, Drama, Classics 
tt2064925 not a Disney Movie, should have been https://www.imdb.com/title/tt0049733/ 
tt0058099 not a Disney Movie, should have been https://www.imdb.com/title/tt2025690/
tt1686635 not a Disney Movie, should have been https://www.imdb.com/title/tt0046387/

In [ ]:
#Correcting for the last 4 errors
imdb_scrape = imdb_scrape.drop(imdb_scrape[(imdb_scrape['tconst']=='tt2064925')].index)
imdb_scrape = imdb_scrape.drop(imdb_scrape[(imdb_scrape['tconst']=='tt0058099')].index)
imdb_scrape = imdb_scrape.drop(imdb_scrape[(imdb_scrape['tconst']=='tt1686635')].index)

Disney_IMDB = Disney_IMDB.drop(Disney_IMDB[(Disney_IMDB['tconst']=='tt2064925')].index)
Disney_IMDB = Disney_IMDB.drop(Disney_IMDB[(Disney_IMDB['tconst']=='tt0058099')].index)
Disney_IMDB = Disney_IMDB.drop(Disney_IMDB[(Disney_IMDB['tconst']=='tt1686635')].index)

In [17]:
# https://www.imdb.com/title/tt0057312 
#         # Miracle of the White Stallions
#         # Initial release: March 29, 1963
#         # Director: Arthur Hiller
#         # Box office $2,550,000 (US/ Canada)[1]
#         # G  
#         # Family, Live Action, Drama, Classics 

# const = 'tt0057312'
# newurl ='https://www.imdb.com/title/tt0057312'
# rating ='6.5'
# votes ='698'
# year ='1963'
# mpaarating ='G'
# runtime ='1h 58m'
# rlsdt ='March 29, 1963 (United States)'
# budget =''
# worldwide ='$2,550,000'
# soup = ''


# imdb_scrape.loc[IMDB_Scrape['tconst']=='tt0057312'] = [const, newurl, rating, votes, year ,mpaarating ,runtime ,rlsdt ,budget ,worldwide, soup]

### 04.04.04 Initiate Fourth Pass

In [18]:
# Target web page:
url = "https://www.imdb.com/title/"

const = "tt0057312"
budget = ''
mpaarating ='G'
runtime ='1h 58m'
worldwide ='$2,550,000'

newurl = url + const
response = requests.get(newurl)
soup = BeautifulSoup(response.text, 'lxml')
print(newurl)
rtspan = soup.find_all('span', {'class' : 'sc-7ab21ed2-1 jGRxWM'})
rating = rtspan[0].get_text()

vtdiv = soup.find_all('div', {'class' : 'sc-7ab21ed2-3 dPVcnq'})
votes = vtdiv[0].text

        # mpaaspan = soup.find_all('span', {'class' : 'ipc-metadata-list-item__list-content-item'})
        # mpaarating = mpaaspan[2].get_text()
        # try:

metaul = soup.find_all('ul', {'data-testid' : 'hero-title-block__metadata'})
year = metaul[0].find_all('li')[0].find_all('span')[0].get_text()
# mpaarating = metaul[0].find_all('li')[1].find_all('span')[0].get_text()
# runtime = metaul[0].find_all('li')[2].get_text()
rlsdt = soup.find_all('li', {'data-testid' : 'title-details-releasedate'})[0].find_all('a')[1].get_text()

# budget = soup.find_all('li', {'data-testid' : 'title-boxoffice-budget'})[0].find_all('li')[0].get_text()


# worldwide = soup.find_all('li', {'data-testid' : 'title-boxoffice-cumulativeworldwidegross'})[0].find_all('li')[0].get_text()

print(newurl)
print(rating)
print(votes) 
print(year) 
print(mpaarating) 
print(runtime) 
print(rlsdt) 
print(budget) 
print(worldwide) 
imdb_scrape.loc[len(imdb_scrape.index)] = [const, newurl, rating, votes, year ,mpaarating ,runtime ,rlsdt ,budget ,worldwide, soup]

https://www.imdb.com/title/tt0057312
https://www.imdb.com/title/tt0057312
6.5
701
1963
G
1h 58m
March 29, 1963 (United States)

$2,550,000

In [23]:
#saving just to be safe
imdb_scrape.to_csv('../Bens_Data/imdb_scrape_complete.csv')

## 04.05 Merge of Feature Films list and IMDB Scraped Data

### 04.05.01 Compare Feature from each Data Set

In [19]:
imdb_scrape.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 0 to 438
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      439 non-null    object
 1   newurl      439 non-null    object
 2   rating      439 non-null    object
 3   votes       439 non-null    object
 4   year        439 non-null    object
 5   mpaarating  439 non-null    object
 6   runtime     439 non-null    object
 7   rlsdt       439 non-null    object
 8   budget      261 non-null    object
 9   worldwide   308 non-null    object
 10  soup_text   439 non-null    object
dtypes: object(11)
memory usage: 41.2+ KB

In [20]:
Disney_IMDB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 0 to 441
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orig_index      439 non-null    int64
 1   DFL_title       439 non-null    object
 2   tconst          439 non-null    object
 3   titleType       439 non-null    object
 4   primaryTitle    439 non-null    object
 5   originalTitle   439 non-null    object
 6   startYear       439 non-null    int64
 7   runtimeMinutes  439 non-null    int64
 8   genres          439 non-null    object
 9   lower_title     439 non-null    object
 10  averageRating   439 non-null    float64
 11  numVotes        439 non-null    float64
 12  _merge          439 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 48.0+ KB

In [21]:
imdb_scrape.head()

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
0,tt0115433,https://www.imdb.com/title/tt0115433,5.7,110K,1996,G,1h 43m,"November 27, 1996 (United States)","$75,000,000 (estimated)","$320,689,294","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
1,tt0211181,https://www.imdb.com/title/tt0211181,4.8,37K,2000,G,1h 40m,"November 22, 2000 (United States)","$85,000,000 (estimated)","$183,611,771","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
2,tt0120623,https://www.imdb.com/title/tt0120623,7.2,285K,1998,G,1h 35m,"November 25, 1998 (United States)","$120,000,000 (estimated)","$363,258,859","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
3,tt1067106,https://www.imdb.com/title/tt1067106,6.8,113K,2009,PG,1h 36m,"November 6, 2009 (United States)","$200,000,000 (estimated)","$325,286,646","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
4,tt0113198,https://www.imdb.com/title/tt0113198,6.9,52K,1995,G,1h 18m,"April 7, 1995 (United States)","$18,000,000 (estimated)","$35,348,597","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [22]:
Disney_IMDB.head()

,orig_index,DFL_title,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,lower_title,averageRating,numVotes,_merge
0,0,101 Dalmatians,tt0115433,movie,101 Dalmatians,101 Dalmatians,1996,103,"Adventure,Comedy,Crime",101 dalmatians,5.7,109712.0,both
1,5,102 Dalmatians,tt0211181,movie,102 Dalmatians,102 Dalmatians,2000,100,"Adventure,Comedy,Family",102 dalmatians,4.8,37056.0,both
2,10,"20,000 Leagues Under the Sea",tt0046672,movie,"20,000 Leagues Under the Sea","20,000 Leagues Under the Sea",1954,127,"Adventure,Drama,Family",20000 leagues under the sea,7.2,33109.0,both
3,24,A Bug's Life,tt0120623,movie,A Bug's Life,A Bug's Life,1998,95,"Adventure,Animation,Comedy",a bugs life,7.2,284538.0,both
4,74,A Christmas Carol,tt1067106,movie,A Christmas Carol,A Christmas Carol,2009,96,"Adventure,Animation,Comedy",a christmas carol,6.8,112582.0,both

Manually double checking a few different films that cuased confusion / errors further down the line.

In [24]:
imdb_scrape[imdb_scrape['tconst']=='tt0054195']

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
325,tt0054195,https://www.imdb.com/title/tt0054195,7.4,10K,1960,Approved,2h 14m,"May 19, 1960 (United States)",NaN,NaN,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [25]:
imdb_scrape[imdb_scrape['tconst']=='tt0099816']

,tconst,newurl,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text
154,tt0099816,https://www.imdb.com/title/tt0099816,6.6,2.8K,1990,PG,1h 32m,"March 1, 1991 (United States)","NOK 60,000,000 (estimated)","$15,104,156","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [26]:
Disney_IMDB[Disney_IMDB['tconst']=='tt0054195']

,orig_index,DFL_title,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,lower_title,averageRating,numVotes,_merge
224,3788,Pollyanna,tt0054195,movie,Pollyanna,Pollyanna,1960,134,"Comedy,Drama,Family",pollyanna,7.4,10132.0,both

In [27]:
Disney_IMDB[Disney_IMDB['tconst']=='tt0099816']

,orig_index,DFL_title,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,lower_title,averageRating,numVotes,_merge
255,4184,Shipwrecked,tt0099816,movie,Shipwrecked,Haakon Haakonsen,1990,92,"Adventure,Family",shipwrecked,6.6,2802.0,both

### 04.05.02 Merging Feature Films and IMDB Scrape Data

In [28]:
Disney_IMDB.drop(columns=['_merge'], inplace=True)

In [29]:
FL_Disney_IMDB_scrape = pd.merge(Disney_IMDB ,                 # left df
                          imdb_scrape,                  # right df
                          how="left",                 # left join
                          left_on='tconst',            # left column
                          right_on='tconst',    # right column
                          indicator = True,           # indicates source of each row
                          #validate = "one_to_many"    # alerts us of the relationship from left to right, incase there are dups
        )

In [30]:
FL_Disney_IMDB_scrape.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 0 to 438
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orig_index      439 non-null    int64
 1   DFL_title       439 non-null    object
 2   tconst          439 non-null    object
 3   titleType       439 non-null    object
 4   primaryTitle    439 non-null    object
 5   originalTitle   439 non-null    object
 6   startYear       439 non-null    int64
 7   runtimeMinutes  439 non-null    int64
 8   genres          439 non-null    object
 9   lower_title     439 non-null    object
 10  averageRating   439 non-null    float64
 11  numVotes        439 non-null    float64
 12  newurl          439 non-null    object
 13  rating          439 non-null    object
 14  votes           439 non-null    object
 15  year            439 non-null    object
 16  mpaarating      439 non-null    object
 17  runtime         439 non-null    object
 18  rlsdt           439 non-null    object
 19  budget          261 non-null    object
 20  worldwide       308 non-null    object
 21  soup_text       439 non-null    object
 22  _merge          439 non-null    category
dtypes: category(1), float64(2), int64(3), object(17)
memory usage: 79.4+ KB

### 04.05.03 Checking Merged Data for Duplication

In [31]:
FL_Disney_IMDB_scrape['_merge'].value_counts()

both          439
left_only       0
right_only      0
Name: _merge, dtype: int64

In [32]:
dups_df = FL_Disney_IMDB_scrape[FL_Disney_IMDB_scrape['tconst'].isin(FL_Disney_IMDB_scrape['tconst'].value_counts()[FL_Disney_IMDB_scrape['tconst'].value_counts()>2].index)]
print(dups_df.shape)
dups_df.head(30)

(0, 23)

Empty DataFrame
Columns: [orig_index, DFL_title, tconst, titleType, primaryTitle, originalTitle, startYear, runtimeMinutes, genres, lower_title, averageRating, numVotes, newurl, rating, votes, year, mpaarating, runtime, rlsdt, budget, worldwide, soup_text, _merge]
Index: []

[0 rows x 23 columns]

There doesn't appear to be any duplication.

### 04.05.04 Pulling out the HTML from IMDB

Saving the HTML from each title created an inredibly large file that caused all sorts of problems.  Here we are seperating out the HTML and saving it to another file just in case we want to pull some different data later without spending time to scrape it all again.

In [35]:
imdb_disney_soup = FL_Disney_IMDB_scrape[['tconst', 'DFL_title','newurl','soup_text']]

In [37]:
imdb_disney_soup.head()

,tconst,DFL_title,newurl,soup_text
0,tt0115433,101 Dalmatians,https://www.imdb.com/title/tt0115433,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
1,tt0211181,102 Dalmatians,https://www.imdb.com/title/tt0211181,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
2,tt0046672,"20,000 Leagues Under the Sea",https://www.imdb.com/title/tt0046672,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
3,tt0120623,A Bug's Life,https://www.imdb.com/title/tt0120623,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."
4,tt1067106,A Christmas Carol,https://www.imdb.com/title/tt1067106,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""..."

In [38]:
imdb_disney_soup.to_csv('../Bens_Data/imdb_disney_soup.csv')

In [40]:
FL_Disney_IMDB_scrape.head(3)

,orig_index,DFL_title,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,lower_title,...,rating,votes,year,mpaarating,runtime,rlsdt,budget,worldwide,soup_text,_merge
0,0,101 Dalmatians,tt0115433,movie,101 Dalmatians,101 Dalmatians,1996,103,"Adventure,Comedy,Crime",101 dalmatians,...,5.7,110K,1996,G,1h 43m,"November 27, 1996 (United States)","$75,000,000 (estimated)","$320,689,294","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""...",both
1,5,102 Dalmatians,tt0211181,movie,102 Dalmatians,102 Dalmatians,2000,100,"Adventure,Comedy,Family",102 dalmatians,...,4.8,37K,2000,G,1h 40m,"November 22, 2000 (United States)","$85,000,000 (estimated)","$183,611,771","<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""...",both
2,10,"20,000 Leagues Under the Sea",tt0046672,movie,"20,000 Leagues Under the Sea","20,000 Leagues Under the Sea",1954,127,"Adventure,Drama,Family",20000 leagues under the sea,...,7.2,33K,1954,G,2h 7m,"July 20, 1955 (United States)","$9,000,000 (estimated)",NaN,"<!DOCTYPE html>\n<html lang=""en-US"" xmlns:fb=""...",both

In [41]:
FL_Disney_IMDB_scrape.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 0 to 438
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orig_index      439 non-null    int64
 1   DFL_title       439 non-null    object
 2   tconst          439 non-null    object
 3   titleType       439 non-null    object
 4   primaryTitle    439 non-null    object
 5   originalTitle   439 non-null    object
 6   startYear       439 non-null    int64
 7   runtimeMinutes  439 non-null    int64
 8   genres          439 non-null    object
 9   lower_title     439 non-null    object
 10  averageRating   439 non-null    float64
 11  numVotes        439 non-null    float64
 12  newurl          439 non-null    object
 13  rating          439 non-null    object
 14  votes           439 non-null    object
 15  year            439 non-null    object
 16  mpaarating      439 non-null    object
 17  runtime         439 non-null    object
 18  rlsdt           439 non-null    object
 19  budget          261 non-null    object
 20  worldwide       308 non-null    object
 21  soup_text       439 non-null    object
 22  _merge          439 non-null    category
dtypes: category(1), float64(2), int64(3), object(17)
memory usage: 79.4+ KB

In [43]:
FL_Disney_IMDB_scrape.drop(columns=['orig_index','soup_text','_merge'], inplace=True)

## 04.06 Export Updated Features Films Data

In [44]:
FL_Disney_IMDB_scrape.to_csv('../Bens_Data/Disney_imdb_scrape_final.csv')